<form>
  <div class="form-group">
    <label for="symbol">Symbol:</label>
    <input id="symbol" class="form-control" readonly />
  </div>

  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" class="form-control"
           placeholder="Enter currency name" />
  </div>

  <div class="form-group">
    <label for="country">Country:</label>
    <input id="country" class="form-control"
           placeholder="Enter currency's country" />
  </div>

  <div class="form-group">
    <label for="euro-rate">Euro Rate:</label>
    <input id="euro-rate" class="form-control"
           placeholder="Enter exchange rate against Euro" />
  </div>

  <div class="form-row mb-2">
    <div class="col-md-6">
      <button type="submit" class="form-control btn btn-success"><span class="oi oi-check"></span> Save</button>
    </div>
    <div class="col-md-6">
      <a href="/" class="form-control btn btn-secondary text-light" role="button"><span class="oi oi-x"></span> Cancel</a>
    </div>
  </div>
</form>
