<div class="form-inline mb-3">
  <div class="form-group mr-2">
    <label for="source-value">Source Value:</label>
    <input id="source-value" class="text-center form-control ml-2 mr-2" />
    <span>Euro</span>
  </div>
  <button type="button" class="btn btn-outline-primary ml-auto">
    <span class="oi oi-reload"></span> Refresh
  </button>
</div>