@inherits LayoutComponentBase

<div class="container">
  <div class="card border-info">
    <div class="card-header bg-light text-center">
      <h1>Currency Converter</h1>
    </div>

    <div class="card-body">

      @Body

    </div>
    <div class="card-footer text-center">
      <div>&copy; 2022 - SWK5 (FH Hagenberg)</div>
    </div>
  </div>
</div>
